# Entornos virtuales
venv/
env/
mi_entorno/

# Archivos de Python compilados
__pycache__/
*.pyc

# Secretos y contraseñas (NUNCA SUBIR A GITHUB)
.env
.env.local

# Archivos locales de bases de datos
*.db
datos.db
uploads/
.pytest_cache/
.coverage
htmlcov/
*.log
